<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270731736978-h17afgs0ma8k4kmloel92l8sh8vngvr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270731736978-h17afgs0ma8k4kmloel92l8sh8vngvr7</string>
	<key>API_KEY</key>
	<string>AIzaSyDOM4U2qfLwGJEv-B_GHCYV56OluWr3594</string>
	<key>GCM_SENDER_ID</key>
	<string>270731736978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>moussa.Ellakki-hotmail.com.Olearys</string>
	<key>PROJECT_ID</key>
	<string>fireb1-161ad</string>
	<key>STORAGE_BUCKET</key>
	<string>fireb1-161ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270731736978:ios:030f6f67d448345f12334b</string>
	<key>DATABASE_URL</key>
	<string>https://fireb1-161ad-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>